*{
    margin: 0;
    padding: 0;
}
.Product-Head{
    text-align: center;
    font-size: 50px;
    width: 80%;
    padding: 0px 20px;
    border-bottom: 1px solid #CCCCCC;
    margin: 25px auto;
}
.container{
    width: 90%;
    margin: auto;
}
.product-title{
    font-size: 25px;
    margin: 0px 40px;
    border-bottom: solid 1px #CCCCCC;
    width: 100px;
    padding: 4px 15px;
    text-align: center;
}
.products{
    text-align: center;
    justify-content: space-between;
    display: flex;
    margin: 15px;
}
.product-card {
    display: flex;
    margin: 20px;
    padding: 20px;
    width: 30%;
}
.product-card {
    display: inline-block;
    margin: 10px;
    padding: 14px;
    width: 25%;
    flex-direction: column;
    max-width: 200px;
    background-color: #F2F3F5;
    transition: 0.3s ease;
}
.product-card:hover{
    transform:scale(1.05);
    background-color: #E8EAED;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}
.product-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    text-align: center;
}
.product-img {
    margin-bottom: 15px;
}
.product-content h5{
    margin-bottom: 10px;
    font-size: 15px;
    color: #333333;
}
.product-content p {
    font-size: 15px;
    font-weight: 100;
    color: #666666;
}
.prices {
    padding-top: 8px;
}
.prices span {
    margin: 5px;
    font-weight: 800;
    color: #111111;
}
.prices button {
    border: none;
    background: #0A84FF;
    border-radius: 5px;
    padding: 2px 10px;
    margin: 5px;
}
.prices button a {
    text-decoration: none;
    color: #FFFFFF;
}
